.link {
	text-decoration: none;
	color: $black-second;
	font-style: italic;
	transition: color 0.2s ease;
	white-space: nowrap;

	&:hover {
		color: rgb(100, 100, 100, 0.7);
	}
}

.bg-blur {
	backdrop-filter: blur(10px);
	box-shadow: 0px -3px 4px rgba(20,20,20,0.3);
}

.title {
	@media screen and (max-width: 480px) {
		font-size: 10vw;
	}
}

.subtitle {
	@media screen and (max-width: 480px) {
		font-size: 5.5vw;
	}

	font-size: 1.5rem;
	font-weight: 300;
	margin: 1.5rem 2rem;
}

.base {
	height: max-content;
	padding-top: 2rem;

	@media screen and (max-width: 780px) {
		padding-top: 7rem;
	}

	&::before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		box-sizing: border-box;
	}

	.inner {
		display: inline-block;
		vertical-align: middle;
		box-sizing: inherit;
		width: 100%;

		.header {
			font-size: 2rem;
			padding: 3rem 3rem 4.5rem 3rem;
			color: $white;
			text-shadow: 2px 2px 4px black;

			.subtitle {
				color: $white-second;
			}
		}

		.content {
			font-size: 1.2rem;
			background: $white-second;
			padding: 1rem 5rem 3rem 5rem;
			text-align: left;
			min-height: 10rem;

			@media screen and (max-width: 780px) {
				padding: 1rem 3rem 3rem 3rem;
			}
		}
	}
}

/* For Mobile */
@media screen and (max-width: 540px) {
	.view {
		width: 400px;
	}
}